body {
  margin: 0;
  font-family: 'Futura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #ced4da;
  background-color: #f8f9fa;
}
.navbar h1 {
  color: #3d405b;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #4a4e69;
}
.navbar a:hover {
  color: #22223b;
}

/* content and card */
.content {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background-color: #f8f9fa;
}
.heroes-card {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #e9ecef;
  color: #012a4a;
  /* border: 1px solid #ced4da; */
}
.heroes-card:hover {
  background-color: #dee2e6;
}

/* heroes details */
.heroes-list a {
  text-decoration: none;
}

/* heroes preview */
.heroes-preview {
  display: block;
  color: #1a535c;
}
.story {
  display: block;
  padding: 10px 20px;
  background-color: #e8e8e4;
  border: 5px solid #d8e2dc;
}
.action {
  display: flex;
  column-gap: 5px;
}

/* Form */
.form-group {
  padding: 20px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
}

/* buttons */
button {
  width: 120px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background-color: #3d5a80;
}
.btn-primary:hover {
  background-color: #22223b;
}
.btn-secondary {
  background-color: #ee6c4d;
}
.btn-secondary:hover {
  background-color: #e71d36;
}